html {
  font-size: 100%;
  margin: 0;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  overflow-x: hidden;
}
::placeholder {
  color: white;
}
.clue {
  font-size: 0.75rem;
}
#title,
#description {
  text-align: center;
}
#title-bar {
  width: 100vw;
  font-size: 1.5rem;
  background-color: rgba(27, 32, 33, 0.5);
  color: #fff;
  padding: 1rem;
  border-bottom: 5px solid rgba(237, 0, 140, 0.8);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.bg-img {
  position: fixed;
  top: 0;
  background-image: url(imgs/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  filter: blur(10px);
  width: 100%;
  height: 100%;
  z-index: -1;
}

#survey-form {
  font-size: 1.15em;
  background-color: rgba(255, 240, 0, 0.8);
  padding: 2rem;
  margin: 2rem;
  box-shadow: 5px 5px 20px, -5px 5px 20px;
  border-radius: 15px;
  min-width: 35%;
}
.form-group {
  padding: 0.5rem;
  margin: 0.25rem 0 0.25rem 0;
}

#name,
#email,
#number,
#dropdown,
#comments {
  width: 100%;
  padding: 1rem;
  margin: 0.25rem;
  background-color: #ed008c;
  color: white;
  border: none;
  outline: none;
  box-shadow: 4px 4px #00aeef, 8px 8px #1b2021;
  font-size: 24px;
}
#name,
#email,
#number {
  transform: skewX(-18deg);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}
#dropdown {
  display: block;
  margin: auto;
  width: 75%;
}
label {
  display: block;
  line-height: 1.2;
}
.input-radio {
  float: left;
}
#comments {
  width: 100%;
  margin: auto;
  resize: none;
  font-size: 1.5rem;
}
#submit {
  display: block;
  margin: auto;
}

.button {
  border: none;
  background-color: transparent;
  padding: 0.5rem 0.75rem;
  min-width: 10ch;
  min-height: 2rem;
  cursor: pointer;

  /*button style*/
  background-color: #ed008c;
  color: #fff;
  box-shadow: 4px 4px #00aeef, 8px 8px #1b2021;
  font-size: 2rem;
  line-height: 1.1;
  transform: skewX(-24deg);
}

.button:active {
  transform: skewX(-24deg) scale(0.95);
}

.button-text {
  display: block;
  transform: skewX(24deg);
}
.radio-buttons {
  font-size: 1.15rem;
  display: grid;
  grid-template-columns: 1em auto;
  grid-template-rows: auto auto;
  gap: 1em;
  align-items: center;
}
input[type="radio"] {
  appearance: none;
  background-color: #00aeef;
  margin: 0;
  font-size: 1.15em;
  color: #ed008c;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #ed008c;
  border-radius: 50%;

  /*checked State*/
  display: grid;
  place-content: center;
}
input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 120ms ease-in-out;
  box-shadow: inset 1em 1em #1b2021;
}
input[type="radio"]:checked::before {
  transform: scale(1);
  background-color: CanvasText;
}
input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid #1b2021;
  outline-offset: max(2px, 0.15em);
}
.custom-checkbox {
  font-size: 1.15rem;
  display: grid;
  grid-template-columns: 1em auto;
  grid-template-rows: auto auto;
  gap: 1em;
  align-items: center;
}
input[type="checkbox"] {
  appearance: none;
  background-color: #00aeef;
  margin: 0;
  font-size: 1.15em;
  color: #ed008c;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #ed008c;
  display: grid;
  place-content: center;
}
/*checked State*/
input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: transform 120ms ease-in-out;
  box-shadow: inset 1em 1em #1b2021;
}
/* Black square inside shows when checked */
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
/* Focus state */
input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid #1b2021;
  outline-offset: max(2px, 0.15em);
}
